.textBox {
  padding-top: 5%;
}
.usersContainer {
  display: flex;
  align-items: left;
  flex-direction: column;
}
.usersButton {
  background-color: #3e4444;
  border: none;
}
.usersButton:hover {
  background-color: black;
  color: white;
}
.button {
  background-color: #3e4444;
  border: none;
  color: white;
}
.requiredField {
  color: #ff4136;
  font-size: 12px;
  margin-top: 2%;
}

@media only screen and (max-width: 600px) {
  .usersButton {
    width: 70%;
  }
}
